		<div class="table-cell">
			<%= link_to bookmark.url, bookmark.url %><br />
			<% if current_user.bookmarks.include?(bookmark) %>
				<p class="center">My Bookmark</p>
				<%= link_to "Remove", user_topic_path(bookmark), class: 'btn btn-danger btn-sm', method: :delete %>
			<% else %>
				<%= render partial: 'like_bookmarks/like_bookmark', locals: { bookmark: bookmark }%>
			<% end %>
		</div>
	
